<div class="container-fluid" ng-controller="Administracion_Agrupaciones">
    <div class="row-fluid">
        <div class="col-md-2">
            <div>
                <ul class="nav nav-pills nav-stacked" style="max-width: 300px;">
                    <li ng-repeat="tab in tabs">
                        <a style="cursor:pointer;" ng-click="subPageContent(tab.click)">{{tab.title}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-10" ng-include="subPageTemplate">

        </div>
    </div>
</div>