<div class="col-md-12" ng-controller="Alumnos_consultas">
    <h2><span class="glyphicon glyphicon-user"></span> Consultar alumno </h2>
    <hr>
    <div class="row form-group">
        <div class="col-sm-3" style="margin-bottom: 10px;">
            <div class="input-group input-group-sm">
                <span class="input-group-addon">Carrera</span>
                <select class="form-control" ng-model="model.filter.carrera" ng-change="search_filters()" ng-options="carrera for carrera in carreras | orderBy:carrera">
                    <option value="">Mostrar Todos</option>
                </select>
            </div>
        </div>
        <div class="col-sm-3" style="margin-bottom: 10px;">
            <div class="input-group input-group-sm">
                <span class="input-group-addon">Grado</span>
                <select class="form-control" ng-model="model.filter.grado" ng-change="search_filters()" ng-options="grado as grado for grado in grados | orderBy:grado">
                    <option value="">Mostrar Todos</option>
                </select>
            </div>
        </div>
        <div class="col-sm-3" style="margin-bottom: 10px;">
            <div class="input-group input-group-sm">
                <span class="input-group-addon">Grupo</span>
                <select class="form-control" ng-model="model.filter.grupo" ng-change="search_filters()" ng-options="grupo for grupo in grupos | orderBy:grupo">
                    <option value="">Mostrar Todos</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-3" style="margin-bottom: 10px;">
            <button class="btn btn-block" ng-disabled="isBusy" ng-click="Buscar_alumno('m_BuscarAlumno')">Buscar Alumno</button>
        </div>
        <div class="col-md-3" style="margin-bottom: 10px;">
            <button ng-disabled="isBusy" class="btn btn-block" ng-click="search_filters();
                        uncheckAll();">Limpiar Busqueda</button>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-sm-6" style="margin-bottom: 10px;">
            <div class="input-group input-group-sm">
                <span class="input-group-addon">Buscar por Matricula</span>
                <input ng-model="model.filter.matricula" ng-change="search_filters()" type='text' class="form-control" required>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <pagination num-pages="numPages" previous-text="Previo" next-text="siguiente" first-text="Primero" last-text="Ultimo"  total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false"  items-per-page="items_per_page"></pagination>
        </div>
        <div class="col-md-12">
            <h5>Pagina {{bigCurrentPage}} de {{numPages}} | {{bigTotalItems}} Resultados</h5>
        </div>
    </div>
    <table id="tableEdo" ng-table="tableParams" class="table table-striped table-condensed table-hover">
        <thead>
        <th>Matricula</th>
        <th>Nombre</th>
        <th>Consultar</th>
        </thead>
        <tr ng-repeat="alumno in filteredAlumnos">
            <td data-title="'Descripcion'">{{alumno.matricula}}</td>
            <td data-title="'Nombre'">{{alumno.nom + " " + alumno.appat + " " + alumno.apmat}}</td>
            <td data-title="'adeudo'">
                <button class="btn" ng-click="Consultar('m_expediente', alumno)">
                    Consultar
                </button>
            </td>
        </tr>
    </table>
</div>