<div ng-controller="Modal_AlumnosBeca">
    <div class="modal-header">
        <label class="pull-right" ng-show="isBusy"><i class="fa fa-spinner fa-spin"></i> Cargando</label>
        <h4 class="modal-title">{{data_modal.abreviatura}}</h4>
    </div>
    <div class="modal-body">
        <form>
            <div class="row form-group">
                <div class="col-md-4">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">Ciclo</span>
                        <select class="form-control" ng-model="model.periodo" ng-options="periodo.periodo for periodo in periodos">
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-block" ng-disabled="isBusy" ng-click="Buscar_alumno('m_becas_buscar_alumno')">Buscar Alumno</button>
                </div>
            </div>
            <!--        <div class="row form-group">
                        <div class="col-md-4">
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon">Nivel</span>
                                <select class="form-control" ng-model="model.nivel" ng-options="key as val for (key,val) in niveles"></select>
                            </div>
                        </div>
                    </div>-->
            <div class="row form-group">
                <div class="col-md-4">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">Carrera</span>
                        <select class="form-control" ng-model="alumno_filter.carrera" ng-change="make_filters()">
                            <option ng-repeat="carrera in carreras" ng-value="carrera">{{carrera}}</option>
                        </select>   
                    </div>
                </div>
            </div>
            <button class="btn" type="button" ng-click="insc_noinsc()" ng-disabled="!show_alumnos || isBusy">
                Alumnos Inscritos
            </button>
            <button class="btn" type="button" ng-click="insc_noinsc()" ng-disabled="show_alumnos || isBusy">
                Alumnos no Inscritos
            </button>
            <button class="btn" type="button" ng-click="add()" ng-show="show_alumnos" ng-disabled="isBusy">
                Agregar Alumno
            </button>
            <button class="btn" type="button" ng-click="activate()" ng-show="!show_alumnos" ng-disabled="isBusy">
                Activar Beca Alumno
            </button>
            <button class="btn" type="button" ng-click="deactivate()" ng-show="!show_alumnos" ng-disabled="isBusy">
                Desactivar Beca Alumno
            </button>
        </form>
        <pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false"  items-per-page="items_per_page"></pagination>
        <table ng-show="show_alumnos" id="tableEdo" ng-table="tableParams" class="table table-striped table-condensed table-hover">
            <thead>
            <th>Añadir</th>
            <th>Matricula</th>
            <th>Nombre</th>
            <th>Consultar</th>
            </thead>
            <tr ng-repeat="alumno in filteredTodos">
                <td data-title="'Assign'">
                    <input type="checkbox" checklist-model="model.idpersona" checklist-value="alumno.idpersonas">
                </td>
                <td data-title="'Descripcion'">{{alumno.matricula}}</td>
                <td data-title="'Nombre'">{{alumno.nom + " " + alumno.appat + " " + alumno.apmat}}</td>
                <td data-title="'Nombre'"><button class="btn btn-default btn-sm btn-block" ng-click="consultar_adeudos('m_consultarAdeudosBeca',alumno)">Consultar</button></td>
            </tr>
        </table>
        <table ng-show="!show_alumnos" id="tableEdo" ng-table="tableParams" class="table table-striped table-condensed table-hover">
            <thead>
            <th>Añadir</th>
            <th>Matricula</th>
            <th>Nombre</th>
            <th>Estatus</th>
            <th>Consultar</th>
            </thead>
            <tr ng-repeat="alumno in filteredTodos">
                <td data-title="'Assign'">
                    <input type="checkbox" checklist-model="model.idpersona" checklist-value="alumno.idpersonas">
                </td>
                <td data-title="'Descripcion'">{{alumno.matricula}}</td>
                <td data-title="'Nombre'">{{alumno.nom + " " + alumno.appat + " " + alumno.apmat}}</td>
                <td><i class="fa" ng-class="{'fa-times': alumno.status == 0, 'fa-check': alumno.status == 1}"></i></td>
                <td data-title="'Nombre'"><button class="btn btn-default btn-sm btn-block" ng-click="consultar_adeudos('m_consultarAdeudosBeca',alumno)">Consultar</button></td>
            </tr>
        </table>
    </div>
    <div class="modal-footer" style="border-top: 0px;">
        <div class="col-md-3 pull-right">
            <button class="btn btn-default btn-md btn-block col-md-4" ng-click="$parent.cancel()">
                Cerrar
            </button>
        </div>
    </div>
</div>