<div class="modal-header">
    <h4 class="modal-title">{{data_modal.matricula + " " + data_modal.nom + " " + data_modal.appat}}</h4>
</div>
<div class="modal-body" ng-controller="Modal_generarAdeudos">
    <form ng-submit="AddAdeudoalumno()">
        <div class="row form-group">
            <div class="col-md-4">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon">Ciclo</span>
                    <select class="form-control" ng-model="model.periodo" ng-options="periodo.periodo for periodo in periodos">
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon">Concepto</span>
                    <select class="form-control" ng-model="model.concepto" ng-options="concepto.concepto for concepto in conceptos" ng-change="getSubconceptos()">
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon">Sub-Concepto</span>
                    <select class="form-control" ng-model="model.subconcepto" ng-options="sc.sub_concepto for sc in subconceptos" required></select>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-4">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon">Nivel</span>
                    <select class="form-control" ng-model="model.nivel" ng-options="key as val for (key,val) in niveles"></select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon">Vence</span>
                    <input class="form-control" ng-model="model.fecha" type="date" required/>
                </div>
            </div>
            <div class="col-md-4">
                <label ng-repeat="pago in tipodePago">
                    <input type="checkbox" checklist-model="model.tipos_pago" checklist-value="pago.value"> {{pago.text}}
                </label>
            </div>
        </div>
        <div class="col-md-4 pull-right">
            <button class="btn btn-success btn-md btn-block col-md-4">
                Añadir Adeudo
            </button>
        </div>
    </form>
    <div class="table-responsive" ng-if="adeudos">
        <table id="tableEdo" ng-table="tableParams" class="table table-condensed">
            <thead>
            <th>Descripción</th>
            <th>Vence</th>
            <th>Saldo</th>
            </thead>
            <tr ng-repeat="adeudo in adeudos" ng-class="{
                        'bg-success':adeudo.status_adeudo == 1}">
                <td data-title="'Concepto'">{{adeudo.sub_concepto}}</td>
                <td data-title="'Vence'">{{adeudo.fecha_limite}}</td>
                <td data-title="'Total'">{{adeudo.importe}}</td>
            </tr>
        </table>
    </div>
</div>
<div class="modal-footer" style="border-top: 0px;">
    <div class="col-md-4 pull-right">
        <button class="btn btn-warning btn-md btn-block col-md-4" ng-click="cancel()">
            Cancelar
        </button>
    </div>
    <div class="col-md-3 pull-left">
        <label ng-show="isBusy"><i class="fa fa-circle-o-notch fa-spin"></i> Cargando</label>
    </div>
</div>