<div class="modal-header">
    <label class="pull-right" ng-show="isBusy"><i class="fa fa-spinner fa-spin"></i> Cargando</label>
    <h4 class="modal-title">{{data_modal.banco.banco}}</h4>
</div>
<div class="modal-body" ng-controller="Modal_cuentasBanco">
    <alert ng-repeat="alert in alerts" type="{{alert.type}}">{{alert.msg}}</alert>
    <form ng-submit="AddCuenta()">
        <div class="row form-group">
            <div class="col-md-12">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon">Nombre</span>
                    <input type='text' class="form-control" ng-model="model.cuenta" required>
                </div>
            </div>
        </div>
        <div class="col-md-4 pull-right">
            <button ng-disabled="isBusy" type="submit" class="btn btn-primary btn-md btn-block col-md-4">
                Agregar cuenta
            </button>
        </div>
    </form>
    <table id="tableEdo" ng-table="tableParams" class="table table-condensed table-hover">
        <thead>
        <th>Cuenta</th>
        <th>Activar</th>
        </thead>
        <tr ng-repeat="cuenta in cuentas">
            <td data-title="'Concepto'">{{cuenta.cuenta}}</td>
            <td data-title="'Concepto'"><button ng-disabled="isBusy" class="btn" ng-if="cuenta.activo_cobros == 0" ng-click="ActivarCta(cuenta)">Activar</button></td>
        </tr>
    </table>
</div>
<div class="modal-footer" style="border-top: 0px;">
    <div class="col-md-4 pull-right">
        <button class="btn btn-warning btn-md btn-block col-md-4" ng-click="cancel()">
            Cancelar
        </button>
    </div>
</div>