<div ng-controller="Modal_ConsultarAdeudosDescuentos">
    <div class="modal-header">
        <h4 class="modal-title">Adeudos de Alumno: {{$parent.data_modal.matricula + " " + $parent.data_modal.nom + " " + $parent.data_modal.appat + " " + $parent.data_modal.apmat}}</h4>
    </div>
    <div class="modal-body">
        <div class="row form-group">
            <div class="col-md-4">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon">Ciclo</span>
                    <select class="form-control" ng-change="getAdeudos()" ng-model="model.periodo" ng-options="periodo.periodo for periodo in periodos">
                    </select>
                </div>
            </div>
        </div>
        <h5>Numero Oficio</h5>
        <div class="col-sm-12">
            <textarea class="form-control" style="margin-bottom: 3px; resize: none; height: 50px;" ng-init="model.no_oficio=''" ng-model="model.no_oficio" required></textarea>
        </div>
        <div class="col-lg-6">
            <div class="input-group input-group-sm">
                <span class="input-group-addon">Descuento en</span>
                <select required class="form-control" ng-model="model.tipo_importe_id" ng-options="tipo.id as tipo.nombre for tipo in catalogos.tipo_importe" required></select>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Sub-Concepto</th>
                        <th>Descripcion/Mes</th>
                        <th>Fecha Limite</th>
                        <th>Beca</th>
                        <th>Recargo</th>
                        <th>Importe</th>
                        <th>Descuento</th>
                        <th>Descuento Recargo</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="adeudo in adeudos_alumno">
                        <td>{{adeudo.sub_concepto}}</td>
                        <td>{{adeudo.descripcion_sc}}</td>
                        <td>{{adeudo.fecha_limite}}</td>
                        <td>{{adeudo.beca}}</td>
                        <td>{{adeudo.recargo_total}}</td>
                        <td>{{adeudo.importe_inicial}}</td>
                        <td>
                            <div class="input-group input-group-sm">
                                <div class="input-group-addon" ng-switch on="model.tipo_importe_id">
                                    <span ng-switch-when="2">$</span>
                                    <span ng-switch-when="1">%</span>
                                    <span ng-switch-default>-</span>
                                </div>
                                <input ng-disabled="(has_descuentos > 0) || (has_descuento_recargo > 0)" type="number" class="form-control" ng-model="adeudo.descuento" required>
                            </div>
                        </td>
                        <td><div class="input-group input-group-sm">
                                <div class="input-group-addon" ng-switch on="model.tipo_importe_id">
                                    <span ng-switch-when="2">$</span>
                                    <span ng-switch-when="1">%</span>
                                    <span ng-switch-default>-</span>
                                </div>
                                <input ng-disabled="(has_descuentos > 0) || (has_descuento_recargo > 0)" type="number" class="form-control" ng-model="adeudo.descuento_recargo" required>
                            </div>
                        </td>
                        <td>{{adeudo.importe - adeudo.descuento_recargo - adeudo.recargo}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>    
    <div class="modal-footer" style="border-top: 0px;">
        <div class="row form-group">
            <div class="col-sm-offset-6 col-sm-3">
                <button type="button" class="btn btn-default btn-md btn-block col-md-4" ng-click="$parent.cancel()">
                    Cerrar
                </button>
            </div>
            <div class="col-sm-3">
                <button ng-disabled="(has_descuentos > 0) || (has_descuento_recargo > 0) || (model.no_oficio == '')" type="submit" ng-click="add_descuento()" class="btn btn-default btn-md btn-block col-md-4">
                    Generar Descuento
                </button>
            </div>
        </div>
    </div>
</div>