<div ng-controller="Modal_ConsultarAdeudosDescuentos">
    <div class="modal-header">
        <h4 class="modal-title">Adeudos de Alumno: {{$parent.data_modal.matricula + " " + $parent.data_modal.nom + " " + $parent.data_modal.appat + " " + $parent.data_modal.apmat}}</h4>
    </div>
    <div class="modal-body">
        <pre>{{$parent.data_modal}}</pre>
        <div class="row form-group">
            <div class="col-md-4">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon">Ciclo</span>
                    <select class="form-control" ng-change="getAdeudos()" ng-model="model.periodo" ng-options="periodo.periodo for periodo in periodos">
                    </select>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Sub-Concepto</th>
                        <th>Descripcion/Mes</th>
                        <th>Fecha Limite</th>
                        <th>Descuento</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="adeudo in adeudos_alumno">
                        <td>{{adeudo.sub_concepto}}</td>
                        <td>{{adeudo.descripcion_sc}}</td>
                        <td>{{adeudo.fecha_limite}}</td>
                        <td>
                            <button class="btn btn-default">Generar Descuento</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer" style="border-top: 0px;">
        <div class="row form-group">
            <div class="col-sm-offset-9 col-sm-3">
                <button class="btn btn-default btn-md btn-block col-md-4" ng-click="$parent.cancel()">
                    Cerrar
                </button>
            </div>
        </div>
    </div>
</div>