
<div ng-controller="Modal_ModifyBeca">
    <form ng-submit="Modify()">
        <div class="modal-header">
            <h4 class="modal-title">{{$parent.data_modal.abreviatura}}</h4>
        </div>
        <div class="modal-body">

            <div class="row form-group">
                <div class="col-md-6">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">Abreviatura</span>
                        <input type='text' class="form-control" ng-model="model.abreviatura" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">Aplicacion</span>
                        <select required class="form-control" ng-model="model.tipo_importe_id" ng-options="tipo.id as tipo.nombre for tipo in catalogos.tipo_importe" required></select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group input-group-sm">
                        <div class="input-group-addon" ng-switch on="model.tipo_importe_id">
                            <span ng-switch-when="2">$</span>
                            <span ng-switch-when="1">%</span>
                            <span ng-switch-default>-</span>
                        </div>
                        <input type="number" class="form-control" ng-model="model.importe" required>
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-6" style="display:none;">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">Subsidios</span>
                        <select required class="form-control" ng-model="model.subcidios_id" ng-options="subsidio.id as subsidio.nombre for subsidio in catalogos.subcidios" required></select>
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-12">
                    <label>Descripcion</label>
                    <textarea class="form-control"  ng-model="model.descripcion" rows="3" style="resize:none;" required></textarea>
                </div>
            </div>
        </div>
        <div class="modal-footer row" style="border-top: 0px;">
            <div class="col-md-3 ">
                <label ng-show="isBusy"><i class="fa fa-circle-o-notch fa-spin"></i> Cargando</label>
            </div>
            <div class="col-md-3 col-md-offset-3">
                <button type="button" class="btn btn-default btn-md btn-block col-md-4" ng-click="$parent.cancel()">
                    Cancelar
                </button>
            </div>
            <div class="col-md-3 ">
                <button type="submit" class="btn btn-primary btn-md btn-block col-md-4">
                    Guardar
                </button>
            </div>
        </div>
    </form>
</div>