<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button>
    <h4 class="modal-title">{{info_paquete.clave_plan + " " + info_paquete.descripcion}}</h4>
</div>
<div class="modal-body">
    <div class="col-lg-3">
        <div class="input-group input-group-sm">
            <span class="input-group-addon">Ciclo</span>
            <select class="form-control">
                <option ng-repeat='ciclo in ciclos'>{{ciclo.abreviacion}}</option>
            </select>
        </div>
    </div>
    <div class="table-responsive">
        <table id="tableEdo" ng-table="tableParams" class="table table-condensed table-hover">
            <thead>
            <th>Descripción</th>
            <th>Importe</th>
            <th>Recargos</th>
            <th>Vence</th>
            <th>Beca</th>
            <th>Saldo</th>
            </thead>
            <tr ng-repeat="alumno in alumnos">
                <td data-title="'Concepto'">{{alumno.concepto}}</td>
                <td data-title="'Importe'">{{alumno.importe}}</td>
                <td data-title="'Recargo'">{{alumno.recargo}}</td>
                <td data-title="'Vence'">{{alumno.vence}}</td>
                <td data-title="'Beca'">{{alumno.beca}}</td>
                <td data-title="'Total'">{{alumno.saldo}}</td>
            </tr>
        </table>
    </div>
</div>
<div class="modal-footer">
    <div class="col-md-2 pull-right">
        <button class="btn btn-primary btn-lg btn-block col-md-4" ng-click="ok()">
            OK
        </button>
    </div>
</div>