<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button>
    <h4 class="modal-title">{{data_modal.clave_plan + " " + data_modal.descripcion}}</h4>
</div>
<div class="modal-body" ng-controller="Modal_planCtrl">
    <form class="form-horizontal">
        <div class="row form-group">
            <div class="col-lg-6">
                <select ng-model="model.periodo" ng-options="periodo.periodo for periodo in periodos" ng-change="get_scp()">
                </select>
            </div>
        </div>
    </form>
    <div class="table-responsive" ng-if="scp">
        <table id="tableEdo" ng-table="tableParams" class="table table-condensed table-hover">
            <thead>
            <th>Sub Concepto</th>
            <th>Fecha de Vencimiento</th>
            <th>Importe</th>
            <th>Recargos</th>
            </thead>
            <tr ng-repeat="single_scp in scp">
                <td data-title="'Sub_Concepto'">{{single_scp.sub_concepto}}</td>
                <td data-title="'Fecha'">
                    <input type="date" value="{{single_scp.fecha_de_vencimiento}}"/>
                </td>
                <td data-title="'Importe'">{{single_scp.importe}}</td>
                <td data-title="'recargos'">{{single_scp.recargo}}</td>
            </tr>
        </table>
    </div>
</div>
<div class="modal-footer">
    <div class="col-md-2 pull-right">
        <button class="btn btn-primary btn-lg btn-block col-md-4" ng-click="ok()">
            OK
        </button>
    </div>
</div>