<div class="modal-header">
    <label class="pull-right" ng-show="isBusy"><i class="fa fa-spinner fa-spin"></i> Cargando</label>
    <h4 class="modal-title">{{data_modal.descripcion}}</h4>
</div>
<div class="modal-body" ng-controller="Modal_planCtrl">
    <form class="form-horizontal">
        <div class="row form-group">
            <div class="col-md-4">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon">Ciclo</span>
                    <select class="form-control" ng-model="model.periodo" ng-options="periodo.periodo for periodo in periodos" ng-change="get_scp()">
                    </select>
                </div>
            </div>
            <div>
                <div class="col-md-4">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">Nivel</span>
                        <select class="form-control" ng-model="model.nivel" ng-options="key as val for (key,val) in niveles" ng-change="get_scp();"></select>
                    </div>
                </div>
                <div  ng-show="!pqt_exists" class="col-md-4">
                    <button class="btn btn-primary btn-md btn-block col-md-4" ng-click="Nuevo_Paquete()">
                        Crear Paquete
                    </button>
                </div>
            </div>
        </div>
    </form>
    <hr>
    <div ng-show="pqt_exists">
        <form class="form-horizontal">
            <div class="row form-group">
                <div class="col-md-4">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">Concepto</span>
                        <select class="form-control" ng-model="model.concepto" ng-options="concepto.concepto for concepto in conceptos" ng-change="getSubconceptos()">
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">Sub-Concepto</span>
                        <select class="form-control" ng-model="model.subconcepto" ng-options="sc.sub_concepto for sc in subconceptos" required></select>
                    </div>
                </div>
                <div class="col-md-4 pull-right">
                    <button ng-disabled="model.subconcepto == '' || model.subconcepto == undefined || model.subconcepto == null" class="btn btn-primary btn-md btn-block col-md-4" ng-click="AddSCPaquete()">
                        Añadir a Paquete
                    </button>
                </div>
            </div>
        </form>
        <hr>
        <form class="form-horizontal" ng-submit="SaveSCPaquete()">
            <div class="row form-group" ng-repeat="ds in data_subconcepto">
                <div class="col-md-4 ">
                    <label>{{ds.nombre}}</label>
                </div>
                <div class="col-md-4">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">Tipo recargo</span>
                        <select required class="form-control" ng-model="ds.tipo_recargo" ng-options="tipo.value as tipo.name for tipo in tipo_adeudo">
                            <option></option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">Recargo</span>
                        <input type='text' class="form-control" ng-model="ds.recargo" required>
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-4">
                    <label ng-repeat="pago in tipodePago">
                        <input type="checkbox" checklist-model="model.tipos_pago" checklist-value="pago.value"> {{pago.text}}
                    </label>
                </div>
            </div>
            <div ng-show="scp_show">
                <div class="table-responsive" ng-show="scp_show">
                    <table id="tableEdo" ng-table="tableParams" class="table table-condensed table-hover">
                        <thead>
                        <th>Sub Concepto</th>
                        <th>Numero Periodo</th>
                        <th>Mes/Descripcion</th>
                        <th>Fecha de Vencimiento</th>
                        <th>Importe</th>
                        <th>Recargo Acumulado</th>
                        <th>Eliminar</th>
                        </thead>
                        <tr ng-repeat="single in scp track by $index">
                            <td data-title="'Sub_Concepto'">{{single.sub_concepto}}</td>
                            <td data-title="num_periodo"><input type="number" ng-model="single.digito_referencia"/></td>
                            <td data-title="num_periodo"><input type="text" ng-model="single.descripcion_sc"/></td>
                            <td class="col-md-4" data-title="'Fecha'">
                                <p class="input-group">
                                    <input required myformat type="text" class="form-control" datepicker-popup="{{format}}" ng-model="single.fecha_de_vencimiento" is-open="single.opened" readonly="readonly" datepicker-options="dateOptions"  ng-required="true" close-text="Close" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="open($index, $event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p>
                            </td>
                            <td data-title="'Importe'">{{single.importe}}</td>
                            <td data-title="'Importe'"><input type="checkbox" ng-model="single.recargo_acumulado" ng-checked="single.recargo_acumulado == 1" ng-true-value="1" ng-false-value="0"></td>
                            <td><button type="button" ng-click="dropSC($index)" class="btn">Eliminar</button></td>
                             <td><pre>{{(parseInt(single.recargo_acumulado)==1)}}</pre></td>
                             <td><pre>{{single.recargo_acumulado==1}}</pre></td>
                              <td><pre>{{single.recargo_acumulado}}</pre></td>
                        </tr>
                        
                    </table>
                </div>
                <div class="col-md-3 pull-right">
                    <button type="submit"  ng-disabled="scp.length == 0 || model.tipos_pago.length == 0" class="btn btn-primary btn-md btn-block col-md-4">
                        Guardar
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="form-group">
        <alert ng-repeat="alert in alerts" type="{{alert.type}}">{{alert.msg}}</alert>
    </div>
</div>
<div class="modal-footer" style="border-top: none;">
    <div class="col-md-3 pull-right">
        <button class="btn btn-warning btn-md btn-block col-md-4" ng-click="ok()">
            OK
        </button>
    </div>
    <div class="col-md-3 pull-left">
        <label ng-show="isBusy"><i class="fa fa-circle-o-notch fa-spin"></i> Cargando</label>
    </div>
</div>