<div ng-controller="Modal_AdeudosRegistroPago">
    <div class="modal-header">
        <h4 class="modal-title">Adeudos de Alumno: {{$parent.data_modal.matricula + " " + $parent.data_modal.nom + " " + $parent.data_modal.appat + " " + $parent.data_modal.apmat}}</h4>
    </div>
    <div class="modal-body">
        <div class="row form-group">
            <div class="col-md-4">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon">Ciclo</span>
                    <select class="form-control" ng-change="getAdeudos()" ng-model="model.periodo" ng-options="periodo.periodo for periodo in periodos">
                    </select>
                </div>
            </div>
        </div>
        <h5>Razon de Registro de Pago</h5>
        <div class="col-sm-12">
            <textarea class="form-control" style="margin-bottom: 3px; resize: none; height: 50px;" ng-init="model.razon = ''" ng-model="model.razon" required></textarea>
        </div>
        <div ng-show="adeudos_alumno" class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Sub-Concepto</th>
                        <th>Descripcion/Mes</th>
                        <th>Fecha Limite</th>
                        <th>Beca</th>
                        <th>Recargo</th>
                        <th>Importe</th>
                        <th>Registro Pago</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="adeudo in adeudos_alumno"  ng-class="{'bg-success':adeudo.status_adeudo == 1}">
                        <td>{{adeudo.sub_concepto}}</td>
                        <td>{{adeudo.descripcion_sc}}</td>
                        <td>{{adeudo.fecha_limite}}</td>
                        <td>{{adeudo.beca}}</td>
                        <td>{{adeudo.recargo_no_descuento}}</td>
                        <td>{{adeudo.importe_inicial}}</td>
                        <td>
                            <div class="input-group input-group-sm">
                                <div class="input-group-addon" ng-switch on="model.tipo_importe_id">
                                    <span>$</span>
                                </div>
                                <input ng-disabled="adeudo.status_adeudo == 1" type="number" class="form-control" ng-model="adeudo.importe_registro_pago" required>
                            </div>
                        </td>
                        <td>{{adeudo.importe}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer" style="border-top: 0px;">
        <div class="row form-group">
            <div class="col-sm-offset-6 col-sm-3">
                <button type="button" class="btn btn-default btn-md btn-block col-md-4" ng-click="$parent.cancel()">
                    Cerrar
                </button>
            </div>
            <div class="col-sm-3">
                <button ng-disabled="!(has_adeudos) || (model.no_oficio == '') || isBusy" type="submit" ng-click="add_descuento()" class="btn btn-default btn-md btn-block col-md-4">
                    Registrar Pago
                </button>
            </div>
        </div>
    </div>
</div>
