<div class="col-md-12" ng-controller="Administracion_Generales_reporte_adeudos">

    <style>
        @media only screen and (max-width: 800px) {

            /* Force table to not be like tables anymore */
            #no-more-tables table, 
            #no-more-tables thead, 
            #no-more-tables tbody, 
            #no-more-tables th, 
            #no-more-tables td, 
            #no-more-tables tr { 
                display: block; 
            }

            /* Hide table headers (but not display: none;, for accessibility) */
            #no-more-tables thead tr { 
                position: absolute;
                top: -9999px;
                left: -9999px;
            }

            #no-more-tables tr { border: 1px solid #ccc; }

            #no-more-tables td { 
                /* Behave  like a "row" */
                border: none;
                border-bottom: 1px solid #eee; 
                position: relative;
                padding-left: 50%; 
                white-space: normal;
                text-align:left;
            }

            #no-more-tables td:before { 
                /* Now like a table header */
                position: absolute;
                /* Top/left values mimic padding */
                top: 6px;
                left: 6px;
                width: 45%; 
                padding-right: 10px; 
                white-space: nowrap;
                text-align:left;
                font-weight: bold;
            }

            /*
            Label the data
            */
            #no-more-tables td:before { content: attr(data-title); }
        }
        .multiSelect .helperContainer {
            border-bottom: 1px solid #ddd;
            padding: 8px 8px 0px 8px;
        }
        .multiSelect .helperButton {
            display: inline;
            text-align: center;
            cursor: pointer;
            border: 1px solid #ccc;
            height: 26px;
            font-size: 13px;
            border-radius: 2px;
            color: #666;
            background-color: #f1f1f1;
            line-height: 1.6;
            margin: 0px 0px 8px 0px;
        }
        .multiSelect .checkboxLayer {
            background-color: #fff;
            position: absolute;
            z-index: 999;
            border: 1px solid rgba(0, 0, 0, 0.15);
            border-radius: 4px;
            -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
            min-width: 278px;
            display: none !important;
        }
        .multiSelect .show {
            display: block !important;
        }
        .multiSelect .multiSelectItem {
            display: block;
            padding: 3px;
            color: #444;
            white-space: nowrap;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            -o-user-select: none;
            user-select: none;
            border: 1px solid transparent;
            position: relative;
            min-width: 278px;
            min-height: 32px;
        }
        .multiSelect .multiSelectItem:not(.multiSelectGroup).selected {
            background-image: linear-gradient( #e9e9e9, #f1f1f1 );
            color: #555;
            cursor: pointer;
            border-top: 1px solid #e4e4e4;
            border-left: 1px solid #e4e4e4;
            border-right: 1px solid #d9d9d9;
        }
        .multiSelect .acol {
            display: inline-block;
            min-width: 12px;
        }
        .multiSelect .multiSelectItem .acol label {
            display: inline-block;
            padding-right: 30px;
            margin: 0px;
            font-weight: normal;
            line-height: normal;
        }
        .multiSelect .checkbox {
            color: #ddd !important;
            position: absolute;
            left: -9999px;
            cursor: pointer;
        }
        .multiSelect .multiSelectItem .acol label {
            display: inline-block;
            padding-right: 30px;
            margin: 0px;
            font-weight: normal;
            line-height: normal;
        }
        /*
        .multiSelect > button {
            display: inline-block;
            position: relative;
            text-align: center;
            cursor: pointer;
            border: 1px solid #c6c6c6;
            padding: 1px 8px 1px 8px;
            font-size: 14px;
            min-height: 38px !important;
            border-radius: 4px;
            color: #555;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            -o-user-select: none;
            user-select: none;
            white-space: normal;
            background-color: #fff;
            background-image: linear-gradient(#fff, #f7f7f7);
        }
        */
        .multiSelect .buttonLabel {
            display: inline-block;
            padding: 5px 0px 5px 0px;
        }
        .multiSelect .line {
            padding: 2px 0px 4px 0px;
            max-height: 30px;
            overflow: hidden;
            box-sizing: content-box;
        }
        .multiSelect .inputFilter {
            border-radius: 2px;
            border: 1px solid #ccc;
            height: 26px;
            font-size: 14px;
            width: 100%;
            padding-left: 7px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            color: #888;
            margin: 0px 0px 8px 0px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        }
        .multiSelect .clearButton {
            position: absolute;
            display: inline;
            text-align: center;
            cursor: pointer;
            border: 1px solid #ccc;
            height: 22px;
            width: 22px;
            font-size: 13px;
            border-radius: 2px;
            color: #666;
            background-color: #f1f1f1;
            line-height: 1.4;
            right: 2px;
            top: 4px;
        }
        .multiSelect .tickMark {
            display: inline-block;
            position: absolute;
            right: 10px;
            top: 7px;
            font-size: 10px;
        }
        .multiSelect .checkBoxContainer {
            display: block;
            padding: 8px;
            overflow: hidden;
        }
        .pagination {
            margin:0
        }
    </style>
    <h2><span class="glyphicon glyphicon-user"></span> Reporte Adeudos<label class="pull-right" ng-show="isBusy"><i class="fa fa-spinner fa-spin"></i> Cargando</label></h2>
    <hr>
    <div class="row ">
        <div class="col-sm-4" style="">
            <div class="panel panel-default" style="  height: 250px;">
                <div class="panel-heading">
                    Adeudos por Fecha
                </div>
                <div class="panel-body">
                    <div class="form vertical-form">
                        <div class="form-group">
                            <div class="input-group">
                                <input placeholder="Fecha Desde" required myformat type="text" class="form-control" datepicker-popup="{{format}}" ng-model="model.fecha_desde" is-open="model.datefrom.opened" readonly="readonly" datepicker-options="dateOptions"  ng-required="true" close-text="Close" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="openfrom($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <input placeholder="Fecha Hasta" required myformat type="text" class="form-control" datepicker-popup="{{format}}" ng-model="model.fecha_hasta" is-open="model.dateto.opened" min-date="minDate" readonly="readonly" datepicker-options="dateOptions"  ng-required="true" close-text="Close" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="opento($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-block" ng-disabled=" !model.fecha_hasta || !model.fecha_desde" ng-click="obtener_adeudos()">Obtener Adeudos</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--        <div class="col-sm-4">
                    <div class="panel panel-default" style="  height: 250px;">
                        <div class="panel-heading">
                            Datos Para Mostrar
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <div isteven-multi-select
                                     input-model="show_data"
                                     output-model="outputBrowsers"
                                     title-button="Datos de Alumno"
                                     c-output-model-s="sort_reporte"
                                     c-output-model-t="sort_title"
                                     button-label="full_name"
                                     item-label="full_name"
                                     helper-elements="filter"
                                     tick-property="selected">
                                </div>
                            </div>
                            <div class="form-group">
                                <div isteven-multi-select
                                     input-model="show_data_adeudos"
                                     output-model="outputBrowsers1"
                                     title-button="Datos de Adeudo"
                                     c-output-model-s="sort_reporte_adeudo"
                                     c-output-model-t="sort_title_adeudo"
                                     button-label="full_name"
                                     item-label="full_name"
                                     helper-elements="filter"
                                     tick-property="selected">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->
        <div class="col-sm-4">
            <div class="panel panel-default" style="  height: 250px;">
                <div class="panel-heading">
                    Adeudos por Periodo
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="form-group">
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon">Ciclo</span>
                                <select class="form-control" ng-model="model.periodo" ng-options="periodo.periodo for periodo in periodos">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-block" ng-disabled=" !model.periodo" ng-click="obtener_adeudos_periodo()">Obtener Adeudos</button>
                    </div>
                </div>
            </div>
        </div>
<!--        <div class="col-sm-4">
            <div class="panel panel-default" style="  height: 250px;">
                <div class="panel-heading">
                    Filtros
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <select ng-change="make_filters()" class="form-control" ng-model="model.filter.descripcion_sc" ng-options="descripcion for descripcion in descripcion_sc">
                            <option value="">Descripcion/Mes</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select ng-change="make_filters()" class="form-control" ng-model="model.filter.carrera" ng-options="carrera for carrera in carreras">
                            <option value="">Carrera</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select ng-change="make_filters()" class="form-control" ng-model="model.filter.sub_concepto" ng-options="sub_concepto for sub_concepto in sub_conceptos">
                            <option value="">Sub Concepto</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>-->
    </div>
    <!--    <div class="row">
            <div class="col-md-6">
                <input type="button" class="btn" value="Descargar Reporte" ng-click="descargar_reporte()" />
            </div>
        </div>-->
    <kendo-grid ng-show="data_alumnos.data.length > 0" options="mainGridOptions" data-source="data_alumnos"></kendo-grid>
</div>