<div class="col-md-12" ng-controller="Administracion_Generales_fileReferencias">
    <h2>
        <label class="pull-right" ng-show="isBusy"><i class="fa fa-spinner fa-spin"></i> Cargando</label>
        <i class="fa fa-upload fa-3"></i> Subir Archivo Referencias
    </h2>
    <hr>
    <alert ng-repeat="alert in alerts" type="{{alert.type}}">{{alert.msg}}</alert>
    <form class="" ng-submit="upload_file()">
        <div class="row form-group">
            <div class="col-md-12">
                <input type="file" file-input="model.file" accept="text/plain" required/>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-4 pull-left">
                <button type="submit" class="btn btn-primary btn-md btn-block col-md-4">
                    Subir
                </button>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-sm-12" ng-if="encontradas">
            <h3>Referencias Existentes</h3>
            <table id="tableEdo" ng-table="tableParams" class="table table-striped table-condensed table-hover">
                <thead>
                <th>Matricula</th>
                <th>Nombre</th>
                <th>Convenio</th>
                <th>Estado</th>
                <th>Fecha de Pago</th>
                <th>Importe</th>
                <th>Referencia</th>
                </thead>
                <tr ng-repeat="alumno in encontradas">
                    <td data-title="'Descripcion'">{{alumno.persona[0].matricula}}</td>
                    <td data-title="'Nombre'">{{alumno.persona[0].nom + " " + alumno.persona[0].appat + " " + alumno.persona[0].apmat}}</td>
                    <td data-title="'adeudo'">{{alumno.referencia.convenio}}</td>
                    <td data-title="'adeudo'">{{alumno.referencia.estado}}</td>
                    <td data-title="'adeudo'">{{alumno.referencia.fecha_de_pago}}</td>
                    <td data-title="'adeudo'">{{alumno.referencia.importe}}</td>
                    <td data-title="'adeudo'">{{alumno.referencia.referencia}}</td>
                </tr>
            </table>
        </div>
        <div class="col-sm-12" ng-if="no_encontradas">
            <h3>Referencias No Existentes</h3>
            <table id="tableEdo" ng-table="tableParams" class="table table-striped table-condensed table-hover">
                <thead>
                <th>Convenio</th>
                <th>Estado</th>
                <th>Fecha de Pago</th>
                <th>Importe</th>
                <th>Referencia</th>
                </thead>
                <tr ng-repeat="ref in no_encontradas">
                    <td data-title="'adeudo'">{{ref.referencia.convenio}}</td>
                    <td data-title="'adeudo'">{{ref.referencia.estado}}</td>
                    <td data-title="'adeudo'">{{ref.referencia.fecha_de_pago}}</td>
                    <td data-title="'adeudo'">{{ref.referencia.importe}}</td>
                    <td data-title="'adeudo'">{{ref.referencia.referencia}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>