<style type="text/css">
    body {
        background-color: #ccc;
    }
</style>
<div class="modal-dialog" ng-controller="Control_loginCtrl" >
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="text-center">Inicia Sesión</h1>
        </div>
        <div class="modal-body">
            <form class="col-md-12 center-block" ng-submit="login()" autocomplete="on">
                <div class="form-group">
                    <input  ng-disabled="isBusy" autocomplete="on" type="text" ng-model="loginData.userName" placeholder="Usuario" class="form-control" required>
                </div>
                <div class="form-group">
                    <input  ng-disabled="isBusy" autocomplete="on" type="password" ng-model="loginData.password" placeholder="contraseña" class="form-control" required>
                </div>
                <div class="form-group">
                    <button ng-disabled="isBusy" class="btn btn-lg btn-primary btn-block" type="submit">
                        <i class="fa" ng-class="{'fa-cog fa-spin': isBusy, 'fa-sign-in': !isBusy}"></i>
                        <span>Entrar</span> 
                    </button>   
                </div>
                <div class="form-group">
                    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
                </div>
            </form>
            <center>
                <img src="img/upa_logo.jpg">
            </center>
        </div>
        <div class="modal-footer" style="border-top: 0px;"></div>
    </div>
</div>