<div ng-controller="EstadoCuentaCtrl" class="col-md-12">
    <form class="form-horizontal">
        <div class="row form-group">
            <div class="col-md-4">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon">Ciclo</span>
                    <select class="form-control" ng-model="Modelo_Periodo" ng-options="periodo.periodo for periodo in periodos" ng-change="Mostrar_Referencia()">
                    </select>
                </div>
            </div>
        </div>
    </form>
    <div class="table-responsive">
        <table id="tableEdo" ng-table="tableParams" class="table table-condensed">
            <thead>
            <th>Descripción</th>
            <th>Importe</th>
            <th>Recargos</th>
            <th>Vence</th>
            <th>Beca</th>
            <th>Saldo</th>
            <th>Generar Recibo</th>
            </thead>
            <tr ng-repeat="adeudo in adeudos" ng-class="{
                        'bg-success':adeudo.status_adeudo == 1}">
                <td data-title="'Concepto'">{{adeudo.sub_concepto}}</td>
                <td data-title="'Importe'">{{adeudo.importe_inicial}}</td>
                <td data-title="'Recargo'">{{adeudo.recargo_total}}</td>
                <td data-title="'Vence'">{{adeudo.fecha_limite}}</td>
                <td data-title="'Beca'">{{adeudo.beca}}</td>
                <td data-title="'Total'">{{adeudo.importe}}</td>
                <td data-title="'Generar'">
                    <button ng-repeat="tp in adeudo.tipos_pago" ng-if="(adeudo.status_adeudo == null || adeudo.status_adeudo == 0) && tp.tipo_pago_id == 1" ng-click="Generareferencia(adeudo.ref_counter);">Generar</button>
                </td>
            </tr>
        </table>
    </div>
</div>
