<div class="container-fluid" ng-controller="Administracion_Generales">
    <div class="row-fluid">
        <div class="col-md-2">
            <div ng-app="link">
                <ul class="nav nav-pills nav-stacked">
                    <li ng-repeat="tab in tabs">
                        <a ng-click="subPageContent(tab.click)">{{tab.title}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-10" ng-include="subPageTemplate">

        </div>
    </div>
</div>